@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
:root {
    --clr-primary: #000;
    --clr-secondary: #fff;
    --clr-bg: #eee;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--clr-bg);
    color: var(--clr-primary);
    line-height: 1.3;
    transition: color 550ms ease-in-out, background-color 350ms ease-in-out;
}
p {
    font-weight: 400;
    font-size: 1rem;
}

h1 {
    font-weight: 600;
    font-size: clamp(1rem, 9vw, 5rem);
}
h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

h4 {
    font-weight: 500;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
button {
    border: none;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 4rem 0 0 0;
    text-align: center;
    position: relative;
    /* border: 1px solid red; */
}

/* HELPER CLASSES */
.split > * + * {
    margin-top: 1rem;
}
.split-2 > * + * {
    margin-top: 2rem;
}

/* ----------------- */
header {
    margin-bottom: 7rem;
}
.logo {
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.search-bar {
    /* border: 1px solid red; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;

    height: 40px;
    background-color: var(--clr-primary);
    border-radius: 40px;
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box {
    outline: none;
    background: none;
    padding: 0;
    color: var(--clr-secondary);
    font-size: 1rem;
    font-weight: 300;
    width: 0;
    transition: all 350ms ease-in-out;
}
.search-btn {
    color: var(--clr-secondary);
    background-color: var(--clr-primary);
    /* border: 1px solid red; */
    width: 40px;
    height: 40px;
    font-size: 1rem;
    border-radius: 100vw;
    cursor: pointer;
}

.search-bar:hover .search-box {
    width: 240px;
    padding-left: 10px;
}

.search-box:focus {
    width: 240px;
    padding-left: 10px;
}
.search-bar:hover .search-btn {
    color: var(--clr-primary);
    background-color: var(--clr-secondary);
}

.search-box:focus + .search-btn {
    color: var(--clr-primary);
    background-color: var(--clr-secondary);
}

.location {
    text-transform: uppercase;
}

.country,
.date {
    font-weight: 300;
}

.country {
    font-size: 0.875rem;
}

.weather-icon {
    font-size: 6rem;
}

.weather-temp {
    text-transform: uppercase;
}
.temp {
    font-size: 5rem;
    font-weight: 300;
}
.weather-extras {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
.extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.extra h4 {
    margin-bottom: 0.5rem;
}

.extra:not(:last-child) {
    margin-right: 4rem;
}

.toggle {
    padding: 4px;
    /* border: 1px solid #eee; */
    width: 50px;
    height: 26px;
    border-radius: 50px;
    background-color: #57386d;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 5px;
    top: 1rem;
}

.switch {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: whitesmoke;
    width: 22px;
    height: 22px;
    border-radius: 100vw;
    transition: transform 350ms ease-in-out;
}

.sun {
    color: orange;
}
.moon {
    color: yellow;
}

.dark-mode {
    --clr-primary: #fff;
    --clr-secondary: #000;
    --clr-bg: #000;
}
.dark-mode .switch {
    transform: translateX(-24px);
}

.attr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 1rem 0;
}

.attr .heart {
    color: #d96262;
    font-size: 18px;
    animation: heartbeat 3000ms ease-in-out infinite;
}

.attr .name {
    font-weight: 600;
}

@keyframes heartbeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
